<% brand = Brand.where(webmotors_brand_id: params[:webmotors_brand_id])[0] %>
<% models = Model.where(brand_id: brand.id) %>

<%= link_to "&lt;&lt; Voltar".html_safe, root_path %>
<ul>
  <% models.each do |model| %>
    <li><%= model.name %></li>
  <% end %>
</ul>
